@import '../../sass/Constants.scss';

.progress-bars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 124px;
}

.septics {
  padding-top: 120px;
  padding-bottom: 44px;

  h2 {
    width: 58%;
    margin: 0 auto;
  }
}
