@import '../../sass/Constants.scss';

.benefits-header__wrapper {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.benefits-main__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  margin-top: 81px;
}
