@import '../../sass/Constants.scss';

.benefits-header_first {
  width: 292px;
  height: 119px;
  padding: 4.8px 4.23px;
  border-radius: 4px;
  background-color: $color-white;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
}

.benefits-header_second {
  display: flex;
  align-items: center;
  border: 1px solid $color-grey-light;
  border-radius: 4px;
  height: 100%;

  .engineer {
    width: 118px;
    height: 73px;
  }

  .mounting {
    width: 207px;
    height: 73px;
  }

  .payment {
    width: 106px;
    height: 69px;
  }
}

.benefits-header__icon {
  margin-left: 17px;
  margin-right: 17px;
}

.benefits-header__description {
  font-size: 16px;
  font-size: $fw-regular;
}
