@import '../../sass/Constants.scss';

.banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 85px 0 85px 24px;

  h2 {
    width: 56%;
  }

  .submit {
    width: 37%;
  }
}
