@import '../../sass/Constants.scss';

.reviews {
  margin-top: 164px;

  .wrapper {
    position: relative;
  }
}

.reviews-slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 82px;
}

.review-slider {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 72%;
}

.review-slider__item {
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
  width: 504px;
}

.review-slider__item-img {
  width: 104px;
  height: 104px;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.review-slider__item-description {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 20px;
  line-height: 26px;
}

.swiper {
  position: relative;
  margin-top: 72px;
  padding-right: calcResponsiveSize(208, 208, 1729, 3000);
  padding-left: calcResponsiveSize(208, 208, 1729, 3000);
  padding-bottom: 72px;

  @media (max-width: $breakpoint-xxl-min) {
    padding-right: calcResponsiveSize(68, 200, 769, 1728);
    padding-left: calcResponsiveSize(68, 200, 769, 1728);
  }
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin-right: 14px !important;
  background-color: $color-green;
  border-radius: 50%;

  &:last-child {
    margin-right: 0px !important;
  }
}

.swiper-button-prev {
  top: 30%;
  width: 48px;
  height: 48px;
  background-image: url('../../images/icons/round-left.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    display: none;
  }

  @media (max-width: $breakpoint-sm-max) {
    display: none;
  }
}

.swiper-button-next {
  top: 30%;
  width: 48px;
  height: 48px;
  background-image: url('../../images/icons/round-right.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    display: none;
  }

  @media (max-width: $breakpoint-sm-max) {
    display: none;
  }
}
