@import '../../sass/Constants.scss';

.step {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 260px;

  h3 {
    margin-top: 15px;
  }

  h4 {
    margin-top: 10px;
  }
}

.step-icon {
  width: 84px;
  height: 99px;
  margin-top: 5px;
  padding-bottom: 15px;
  border-bottom: 2px solid $color-black;
}
