@import '../../sass/Constants.scss';

.benefits-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 22.75%;
  height: 206px;
  text-align: center;
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

  @media (max-width: $breakpoint-xl-min) {
    width: 31%;
  }

  @media (max-width: $breakpoint-lg-min) {
    width: 49%;
  }

  @media (max-width: $breakpoint-xs-min) {
    width: 100%;
  }

  img {
    width: 147px;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .bestPrice {
    width: 110px;
  }

  h4 {
    padding-left: 32px;
    padding-right: 32px;
    font-size: 20px;
    font-weight: $fw-medium;
    line-height: 24px;
  }
}
