@import '../../sass/Constants.scss';

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  margin: 0 auto;
  padding-top: calcResponsiveSize(634, 634, 1729, 3000);

  @media (max-width: $breakpoint-xxl-min) {
    padding-top: calcResponsiveSize(396, 634, 769, 1728);
  }

  @media (max-width: $breakpoint-md-min) {
    padding-top: calcResponsiveSize(183, 396, 361, 768);
  }

  @media (max-width: $breakpoint-xxs-min) {
    padding-top: calcResponsiveSize(183, 183, 1, 360);
  }
}

input[type='radio'] {
  display: none;
}

.catalog-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calcResponsiveSize(331, 331, 1729, 3000);
  height: 68px;
  font-size: 24px;
  font-weight: $fw-medium;
  line-height: 28.8px;
  color: $color-white;
  text-align: center;
  background-color: $color-green;
  border-radius: 4px;
  transition: all $transition-01 ease-in;

  @media (max-width: $breakpoint-xxl-min) {
    width: calcResponsiveSize(229, 331, 769, 1728);
  }

  @media (max-width: $breakpoint-xxs-min) {
    width: 100%;
  }
}

input[type='radio']:checked + label {
  background-color: $color-orange-medium;
}

.catalog {
  margin-top: 63px;
  padding-bottom: 168px;
}

.catalog-description {
  font-size: 25px;
  font-weight: $fw-regular;
  line-height: 35px;
  color: $color-black;
}

.catalog-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 38px;
  margin-top: 48px;
}

.catalog-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: calcResponsiveSize(403, 403, 1729, 3000);
  padding: 35px 35px 44px 35px;
  text-align: center;
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

  @media (max-width: $breakpoint-xxl-min) {
    width: calcResponsiveSize(243, 403, 769, 1728);
  }

  @media (max-width: $breakpoint-md-min) {
    width: calcResponsiveSize(320, 243, 361, 768);
  }

  @media (max-width: $breakpoint-xxs-min) {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  h3 {
    margin-top: 8px;
  }

  .catalog-button {
    width: 100%;
  }
}

.single {
  height: calcResponsiveSize(544, 544, 1729, 3000);

  @media (max-width: $breakpoint-xxl-min) {
    height: calcResponsiveSize(340, 544, 769, 1728);
  }

  @media (max-width: $breakpoint-md-min) {
    height: calcResponsiveSize(320, 340, 1, 768);
  }
}

.double {
  height: 570px;
}

.triple {
  height: 529px;
}

.order-button {
  &:hover {
    background-color: $color-green-medium;
  }

  &:active {
    background-color: $color-green-light;
  }
}
