@import '../../sass/Constants.scss';

.stages {
  margin-top: calcResponsiveSize(164, 164, 1729, 3000);

  @media (max-width: $breakpoint-xxl-min) {
    margin-top: calcResponsiveSize(70, 164, 769, 1728);
  }

  @media (max-width: $breakpoint-md-min) {
    margin-top: calcResponsiveSize(40, 70, 361, 768);
  }

  @media (max-width: $breakpoint-xxs-min) {
    margin-top: calcResponsiveSize(40, 40, 1, 360);
  }

  h2 {
    width: 56%;
    margin: 0 auto;
  }
}

.steps-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 12%;
  row-gap: 20px;
  margin-top: 82px;

  @media (max-width: $breakpoint-xl-min) {
    column-gap: 17%;
  }
}
