@import './sass/Normalize.scss';
@import './sass/Constants.scss';

// === FONTS ===

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/rubik-v21-latin_cyrillic-regular.woff2') format('woff2'),
    url('./fonts/rubik-v21-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('./fonts/rubik-v21-latin_cyrillic-500.woff2') format('woff2'),
    url('./fonts/rubik-v21-latin_cyrillic-500.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('./fonts/rubik-v21-latin_cyrillic-600.woff2') format('woff2'),
    url('./fonts/rubik-v21-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('./fonts/rubik-v21-latin_cyrillic-700.woff2') format('woff2'),
    url('./fonts/rubik-v21-latin_cyrillic-700.woff') format('woff');
}

// === / FONTS ===

// === COMMON ===

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  color: $color-black;
  background-color: $color-white;
  background-image: url('./images/body-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h2,
h3,
h4,
h5,
h6,
input,
textarea,
fieldset,
button,
label,
legend,
optgroup,
option,
select,
datalist {
  font-family: 'Rubik', sans-serif;
}

button,
label,
select,
option {
  cursor: pointer;
}

img,
svg {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1728px;
  margin-left: auto;
  margin-right: auto;
  padding-left: calcResponsiveSize(105, 105, 1729, 3000);
  padding-right: calcResponsiveSize(105, 105, 1729, 3000);

  @media (max-width: $breakpoint-xxl-min) {
    padding-left: calcResponsiveSize(20, 105, 769, 1728);
    padding-right: calcResponsiveSize(20, 105, 769, 1728);
  }

  @media (max-width: $breakpoint-md-min) {
    padding-left: calcResponsiveSize(20, 20, 1, 768);
    padding-right: calcResponsiveSize(20, 20, 1, 768);
  }
}

.wrapper-hero {
  position: relative;
  max-width: 1728px;
  margin-left: auto;
  margin-right: auto;
  padding-left: calcResponsiveSize(90, 90, 1729, 3000);
  padding-right: calcResponsiveSize(90, 90, 1729, 3000);

  @media (max-width: $breakpoint-xxl-min) {
    padding-left: calcResponsiveSize(20, 90, 769, 1728);
    padding-right: calcResponsiveSize(20, 90, 769, 1728);
  }

  @media (max-width: $breakpoint-md-min) {
    padding-left: calcResponsiveSize(20, 20, 1, 768);
    padding-right: calcResponsiveSize(20, 20, 1, 768);
  }
}

h1 {
  position: relative;
  z-index: 2;
  font-family: 'Rubik', sans-serif;
  width: calcResponsiveSize(809, 809, 1729, 3000);
  margin: 0;
  margin-top: calcResponsiveSize(117, 117, 1729, 3000);
  font-size: calcResponsiveSize(55, 55, 1729, 3000);
  font-weight: $fw-semi-bold;
  line-height: calcResponsiveSize(65.18, 65.18, 1729, 3000);

  @media (max-width: $breakpoint-xxl-min) {
    width: calcResponsiveSize(499, 809, 769, 1728);
    margin-top: calcResponsiveSize(74, 117, 769, 1728);
    font-size: calcResponsiveSize(40, 55, 769, 1728);
    line-height: calcResponsiveSize(48, 65.18, 769, 1728);
  }

  @media (max-width: $breakpoint-md-min) {
    width: calcResponsiveSize(264, 499, 361, 768);
    margin-top: calcResponsiveSize(30, 74, 361, 768);
    font-size: calcResponsiveSize(32, 40, 361, 768);
    line-height: calcResponsiveSize(38.4, 48, 361, 768);
  }

  @media (max-width: $breakpoint-xxs-min) {
    width: calcResponsiveSize(264, 264, 1, 360);
    margin-top: calcResponsiveSize(30, 30, 1, 360);
    font-size: calcResponsiveSize(32, 32, 1, 360);
    line-height: calcResponsiveSize(38.4, 38.4, 1, 360);
  }
}

h2 {
  font-size: calcResponsiveSize(40, 40, 1729, 3000);
  font-weight: $fw-semi-bold;
  line-height: calcResponsiveSize(47.4, 47.4, 1729, 3000);

  @media (max-width: $breakpoint-xxl-min) {
    font-size: calcResponsiveSize(32, 40, 769, 1728);
    line-height: calcResponsiveSize(38.4, 47.4, 769, 1728);
  }

  @media (max-width: $breakpoint-md-min) {
    font-size: calcResponsiveSize(24, 32, 361, 768);
    line-height: calcResponsiveSize(28.8, 38.4, 361, 768);
  }

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calcResponsiveSize(24, 24, 1, 360);
    font-weight: $fw-medium;
    line-height: calcResponsiveSize(28.8, 28.8, 1, 360);
  }
}

h3 {
  font-size: calcResponsiveSize(36, 36, 1729, 3000);
  font-weight: $fw-medium;
  line-height: calcResponsiveSize(30, 30, 1729, 3000);

  @media (max-width: $breakpoint-xxl-min) {
    font-size: calcResponsiveSize(24, 36, 769, 1728);
    line-height: calcResponsiveSize(28.8, 30, 769, 1728);
  }

  @media (max-width: $breakpoint-md-min) {
    font-size: calcResponsiveSize(20, 24, 361, 768);
    line-height: calcResponsiveSize(24, 28.8, 361, 768);
  }

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calcResponsiveSize(20, 20, 1, 360);
    line-height: calcResponsiveSize(24, 24, 1, 360);
  }
}

h4 {
  font-size: calcResponsiveSize(27, 27, 1729, 3000);
  font-weight: $fw-medium;
  line-height: calcResponsiveSize(32, 32, 1729, 3000);

  @media (max-width: $breakpoint-xxl-min) {
    font-size: calcResponsiveSize(20, 27, 769, 1728);
    line-height: calcResponsiveSize(24, 32, 769, 1728);
  }

  @media (max-width: $breakpoint-md-min) {
    font-size: calcResponsiveSize(15, 20, 361, 768);
    line-height: calcResponsiveSize(18, 24, 361, 768);
  }

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calcResponsiveSize(15, 15, 1, 360);
    line-height: calcResponsiveSize(18, 18, 1, 360);
  }
}

h5 {
  font-size: calcResponsiveSize(22, 22, 1729, 3000);
  font-weight: $fw-regular;
  line-height: calcResponsiveSize(30.8, 30.8, 1729, 3000);

  @media (max-width: $breakpoint-xxl-min) {
    font-size: calcResponsiveSize(15, 22, 769, 1728);
    line-height: calcResponsiveSize(18, 30.8, 769, 1728);
  }

  @media (max-width: $breakpoint-md-min) {
    font-size: calcResponsiveSize(15, 15, 1, 768);
    line-height: calcResponsiveSize(18, 18, 1, 768);
  }
}

strong {
  color: $color-green;
}

.fw_regular {
  font-weight: $fw-regular;
}

.fw_medium {
  font-weight: $fw-medium !important;
}

.fw_semi-bold {
  font-weight: $fw-semi-bold;
}

.fw_bold {
  font-weight: $fw-bold;
}

.text-align_center {
  text-align: center;
}

.color_white {
  color: $color-white;
}

.color_green {
  color: $color-green;
}

.color_orange {
  color: $color-orange;
}

.color_blue {
  color: $color-blue;
}

.overflow_hidden {
  overflow: hidden;
}

.display_none {
  display: none;
}

.opacity_zero {
  opacity: 0;
}

.opacity_one {
  opacity: 1 !important;
}

// === / COMMON ===
