@import './sass/Normalize.scss';
@import './sass/Constants.scss';

// === COMMON ===

body {
  @include roboto;
  color: $color-black;
  background-color: $color-white;
}

h2,
h3,
h4,
h5,
h6,
input,
textarea,
fieldset,
button,
label,
legend,
optgroup,
option,
select,
datalist {
  @include roboto;
}

button,
label,
select,
option {
  cursor: pointer;
}

img,
svg {
  width: 100%;
  height: auto;
}

h1 {
  @include roboto;
  margin: 0;
  font-size: calcResponsiveSize(40, 55, 769, 1728);
  font-weight: $fw-bold;
  line-height: calcResponsiveSize(48, 65.18, 769, 1728);

  @media (max-width: $breakpoint-md-min) {
    font-size: calcResponsiveSize(32, 40, 361, 768);
    line-height: calcResponsiveSize(38.4, 48, 361, 768);
  }

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calcResponsiveSize(32, 32, 360, 1);
    line-height: calcResponsiveSize(38.4, 38.4, 360, 1);
  }
}

h2 {
  font-size: calcResponsiveSize(32, 55, 769, 1728);
  font-weight: $fw-bold;
  line-height: calcResponsiveSize(38.4, 65.18, 769, 1728);

  @media (max-width: $breakpoint-md-min) {
    font-size: calcResponsiveSize(24, 32, 361, 768);
    line-height: calcResponsiveSize(28.8, 38.4, 361, 768);
  }

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calcResponsiveSize(24, 24, 360, 1);
    font-weight: $fw-medium;
    line-height: calcResponsiveSize(28.8, 28.8, 360, 1);
  }
}

h3 {
  font-size: calcResponsiveSize(24, 36, 769, 1728);
  font-weight: $fw-medium;
  line-height: calcResponsiveSize(28.8, 30, 769, 1728);

  @media (max-width: $breakpoint-md-min) {
    font-size: calcResponsiveSize(20, 24, 361, 768);
    line-height: calcResponsiveSize(24, 28.8, 361, 768);
  }

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calcResponsiveSize(20, 20, 360, 1);
    line-height: calcResponsiveSize(24, 24, 360, 1);
  }
}

h4 {
  font-size: calcResponsiveSize(20, 27, 769, 1728);
  font-weight: $fw-medium;
  line-height: calcResponsiveSize(24, 32, 769, 1728);

  @media (max-width: $breakpoint-md-min) {
    font-size: calcResponsiveSize(15, 20, 361, 768);
    line-height: calcResponsiveSize(18, 24, 361, 768);
  }

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calcResponsiveSize(15, 15, 360, 1);
    line-height: calcResponsiveSize(18, 18, 360, 1);
  }
}

h5 {
  font-size: calcResponsiveSize(15, 22, 769, 1728);
  font-weight: $fw-regular;
  line-height: calcResponsiveSize(18, 30.8, 769, 1728);

  @media (max-width: $breakpoint-md-min) {
    font-size: calcResponsiveSize(15, 15, 768, 1);
    line-height: calcResponsiveSize(18, 18, 768, 1);
  }
}

.fw_regular {
  font-weight: $fw-regular;
}

.fw_medium {
  font-weight: $fw-medium;
}

.fw_bold {
  font-weight: $fw-bold;
}

.disabled_all {
  pointer-events: none;
  user-select: none;
}

.overflow_hidden {
  overflow: hidden;
}

.display_none {
  display: none;
}

.opacity_zero {
  opacity: 0;
}

// === / COMMON ===
