@import '../../sass/Constants.scss';

.circle {
  position: relative;
  width: 264px;
  height: 264px;
  padding: 0 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    height: 95%;
    width: 95%;
    background-color: $color-white;
    background-image: url('../../images/benefits-bg.jpg');
    border-radius: 50%;
  }

  h2 {
    position: relative;
  }
}

.dot {
  position: absolute;
  z-index: 2;
  width: 12px;
  height: 12px;
  background-color: black;
  border: 1px solid white;
  border-radius: 50%;
  transition: all $transition;
}

.dot1 {
  transform: translate(126px, 28px);
}

.dot2 {
  transform: translate(28px, 126px);
}

.dot3 {
  transform: translate(-113px, 60px);
}

.dot4 {
  transform: translate(-80px, -100px);
}

.progress-bar__description {
  position: relative;
  font-size: 20px;
  font-weight: $fw-regular;
  line-height: 23.7px;
  margin-top: 11px;
}
